$themecolor: rgba(152, 57, 255, 0.5);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  img.fixed-image {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
  }
  header {
    background-color: white;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 10px 6px -6px #777;

    section.Logo {
      // border: 2px solid black;
      flex: 2 1 500px;
      display: flex;
      align-items: center;
      img {
        width: 6vw;
        height: 6vh;
      }
      h1 {
        font-size: 2.5rem;
      }
    }
    nav {
      //   border: 2px solid black;
      flex: 5 1 500px;
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        li {
          a {
            color: black;
            text-decoration: none;
            font-size: 1.35rem;
            transform: 0.5s;
            &:hover {
              color: $themecolor;

              padding-bottom: 1px;
              border-bottom: 2px solid $themecolor;
            }
          }
        }
      }
    }
  }
  main {
    section.background-image {
      // 設定背景圖片
      min-height: 70vh;
      background-image: url("../素材/images/日本櫻花.jpg");
      background-size: cover;
      background-position: center;
      transition: all 0.75s ease;
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      div.filter {
        //   border: 5px solid black;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        min-height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      h3 {
        font-size: 2.5rem;
        color: white;
        text-align: center;
      }
    }

    section.info-circles {
      background-color: white;
      padding: 2rem 1rem;

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }

      div.circles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div.circle {
          padding: 1rem;
          text-align: center;
          flex: 0 1 250px;
          flex-direction: row;
          img {
            border-radius: 50%;
            transition: all 0.1s ease-in;
            width: 80%;
            padding: 0.3rem;
            &:hover {
              border: 3px solid $themecolor;
            }
          }
        }
      }
    }

    section.empty-container {
      background-color: rgba(0, 0, 0, 0.5);
      min-height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 2rem;
        color: white;
      }
    }

    section.google-map {
      background-color: white;
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
        margin: 1rem;
      }
      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }
  footer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    section.logo {
      img {
        width: 20vw;
      }
      h1 {
        color: white;
        font-size: 2rem;
        text-align: center;
      }
    }

    section.links {
      margin-top: 2rem;
      a {
        img {
          min-width: 2rem;
          width: 2vw;
          margin: 0 1rem;
          vertical-align: middle;
          &:hover {
            border: 3px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    h3 {
      margin: 0 1rem;
    }
    header {
      section.Logo {
        flex-direction: column;
        img {
          width: 20vw;
          height: 20vw;
          margin-bottom: 1rem;
        }
      }

      nav {
        ul {
          display: flex;
          flex-direction: column;
          li {
            padding: 0.5rem 2.5rem;
            text-align: center;
          }
        }
      }
    }
    main {
      section.background-image {
        h3 {
          font-size: 5vw;
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
